go 1.21.1

use ./controller-runtime

use ./consensusPBFT

use ./consensusCFT

use ./lattigoLearninng

use ./otelPrometheus

use ./otel

use ./IntExample

use (
	./go_crypto
	./prometheusExample
	./go_pqc
)
